<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">

<head>
  <title>회원가입</title>
</head>
<body>
<section>
  <div class="d-flex justify-content-center my-5 min-vh-100">
    <div>
      <h2 class="mb-4">회원가입</h2>
      <form style="width: 400px" method="post" action="/auth/sign-up" th:object="${account}">
        <div th:replace="~{fragments/form/job-category :: fragment-job-category(selectedCategoryId=${null}, selectedPositionId=${null},categoryList=${categoryList},positionList=${positionList})}">
          카테고리 선택
        </div>
        <div th:replace="~{fragments/form/account :: fragment-account}">로그인 계정 정보 컴포넌트</div>
        <input type="submit" class="btn btn-primary btn-block mb-4 col-lg-12" value="회원가입">
      </form>
    </div>
  </div>
</section>
</body>
</html>