<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--https://codepen.io/sargbah84/pen/QqXpqJ-->
<div th:fragment="fragment-question-search(base,searchCond)" class="my-3 mx-3">
    <style>
        .search-box {
            border-radius: 23px;
            border: 1px solid gray;
            overflow: hidden;
        }
        .search-element {
            border: none;
            border-left: 1px solid gray;
        }
        .search-element:first-child {
            border-left: none; /* 첫 번째 요소에는 왼쪽 테두리를 제거합니다. */
        }
        .search-element:focus {
            outline: none;
        }
    </style>
    <form method="get" th:object="${searchCond}" th:action="${base == null} ? '' : ${base}">
        <div class="search-box ps-1">
            <div class="d-flex justify-content-center align-items-center px-1 py-1">
                <div class="me-1 px-1">
                    <select class="search-element" name="typeCond" id="typeCond">
                        <option value="">질문타입</option>
                        <option th:each="questionType : ${T(com.mock.interview.interviewquestion.presentation.dto.QuestionTypeForView).values()}"
                                th:value="${questionType}"
                                th:text="${questionType.name}"
                                th:selected="*{typeCond} == ${questionType}">
                            질문 타입
                        </option>
                    </select>
                </div>
                <!--/*<div class="d-flex search-element px-2 flex-grow-1">
                    <div th:replace="~{fragments/form/search/tech :: fragment-tech(tech=*{techCond})}">관련기술 영역</div>
                </div>*/-->
                <div class="d-flex search-element px-2 flex-grow-1">
                    <input type="text" class="search-element flex-fill" placeholder="검색 키워드" name="keywordCond" id="keywordCond" th:value="*{keywordCond}">
                </div>
                <button class="btn btn-primary" style="border-radius: 50px;" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
</div>
</html>