<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span th:fragment="fragment-tech(tech)" class="flex-fill d-flex">
    <script th:inline="javascript">
        var tagify;
        $(document).ready(function() {
            var inputElem = document.querySelector('input[name=techCond]');
            tagify = new Tagify(inputElem);
            tagify.addTags([[${tech}]]);
        });
    </script>
    <input class="search-element" name="techCond" id="techCond" style="border-left-width: 0px;" placeholder="관련 주제 추가 : 'Enter'">
</span>
</html>