<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--https://codepen.io/sargbah84/pen/QqXpqJ-->
<div th:fragment="fragment-question-search" class="my-3 mx-3">
    <link th:href="@{/css/question-search-form.css}" href="../css/question-search-form.css" rel="stylesheet">
    <style>
        .search-box {
            border-radius: 23px;
            border: 1px solid black;
            overflow: hidden;
        }
        .search-element {
            border: none;
            border-left: 1px solid gray;
        }
        .search-element:first-child {
            border-left: none; /* 첫 번째 요소에는 왼쪽 테두리를 제거합니다. */
        }
        .search-element:focus {
            outline: none;
        }
    </style>
    <form action="/">
        <div class="search-box ps-1">
            <div class="d-flex justify-content-center align-items-center px-1 py-1">
                <div class="me-1 px-1">
                    <select class="search-element category">
                        <option>질문타입</option>
                        <option th:each="questionType : ${T(com.mock.interview.interviewquestion.presentation.dto.QuestionTypeForView).values()}"
                                th:value="${questionType}"
                                th:text="${questionType.name}">
                            면접 진행 방식
                        </option>
                    </select>
                </div>
                <div class="search-element ps-2 flex-grow-1"><input type="text" class="search-element" placeholder="관련 주제 추가"></div>
                <div class="search-element ps-2 flex-grow-1"><input type="text" class="search-element" placeholder="검색 키워드"></div>
                <button class="btn btn-primary" style="border-radius: 50px;" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
</div>
</html>