<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-tech(tech)" class="form-floating">
    <!-- 태그 라이브러리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css" integrity="sha512-Ars0BmSwpsUJnWMw+KoUKGKunT7+T8NGK0ORRKj+HT8naZzLSIQoOSIIM3oyaJljgLxFi0xImI5oZkAWEFARSA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- 태그 라이브러리 -->


    <script th:inline="javascript">
        let beforeTagInputText = '';
        let beforeTagInputId = 0;
        const loadDelay = 0.3;
        let tagLoadTimer;
        let $select;

        $(document).ready(function() {
            $select = $('#tech').selectize({
              create: true,
              create: function(input, callback) {
                if(input === beforeTagInputText)
                    return;
                beforeTagInputText = input;
                $.ajax({
                    url: '/api/tech',
                    type: 'POST',
                    data: JSON.stringify({"techName": input}),
                    contentType: 'application/json',
                    success: function(response) {
                        callback({value:response, text:input.toUpperCase()});
                    },
                });
              },
              load: function(query, callback) {
                if (query.length < 2) return callback();
                clearTimeout(tagLoadTimer);

                tagLoadTimer = setTimeout(function() {
                    $.ajax({
                        url: `/api/tech?name=${encodeURIComponent(query)}`,
                        type: 'GET',
                        contentType: 'application/json',
                        success: function (response) {
                            const convertResult = response.map(item => {
                                return {"value": item.id, "text": item.name};
                            });
                            callback(convertResult);
                        },
                        error: function () {
                            callback();
                        }
                    });
                }, loadDelay);
              },
            });

            const initTech = [[${tech}]];
            if(initTech !== null)
                initTech.forEach(item => {
                    showItem(id=item.id, vale=item.value);
                });
        });

        function showItem(id, value) {
            $select[0].selectize.addOption({"value": id, "text": value.toUpperCase()});
            $select[0].selectize.addItem(id);
        }
    </script>

    <div class="control-group">
        <label for="tech">관련 기술</label>
        <input type="text" name="tech" id="tech" class="demo-default" style="text-transform:uppercase">
    </div>

</div>
</html>