<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-tech(tech)" class="form-floating">
    <script th:inline="javascript">
        var tagify;
        $(document).ready(function() {
            var inputElem = document.querySelector('input[name=tech]');
            tagify = new Tagify(inputElem);
            tagify.addTags([[${tech}]]);
        });
    </script>
    <div>
        <label class="col-form-label me-2">내 기술</label>
        <input name="tech" id="tech" placeholder="기술 입력 후 'Enter'">
    </div>
</div>
</html>