<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
  <title>면접 질문</title>
</head>
<!--/* 출처: https://www.bootdey.com/snippets/view/bs4-forum | https://mdbootstrap.com/docs/standard/extended/comments/#section-3 */-->
<body>
    <section>
        <div class="container custom-container-width">
            <div class="main-body p-0">
                <div class="inner-wrapper">
                    <!-- Inner main -->
                    <div class="inner-main">
                        <!-- Inner main header -->
                        <div class="inner-main-header">
                            <a th:href="@{/question/form}" class="btn btn-primary">질문 추가</a>
                            <div th:replace="~{fragments/form/question-search :: fragment-question-search}">질문 검색 폼</div>
                            <p>
                                <span>검색된 결과 수 : </span><span th:text="${questionPage.totalElements}"></span>
                            </p>
                        </div>
                        <!-- /Inner main header -->

                        <!-- Inner main body -->

                        <!-- Forum List -->
                        <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                            <div class="card mb-2" th:each="question : ${questionPage.content}">
                                <div class="card">
                                    <div class="card-body">
                                        <div th:replace="~{fragments/card/question-info :: fragment-question-info(question=${question},enableLink=true)}">질문 정보</div>
                                    </div>
                                </div>
                            </div>

                            <div th:replace="~{fragments/page-nav :: fragment-page-nav(
                                isFirst=${questionPage.first}, isLast=${questionPage.last},
                                currentPageNumber=${questionPage.number}, totalPages=${questionPage.totalPages}, pageUri='/question')}">페이징 컨트롤 네비게이션 공간</div>
                        </div>
                        <!-- /Forum List -->

                        <!-- /Inner main body -->
                    </div>
                    <!-- /Inner main -->
                </div>
            </div>
        </div>
    </section>
</body>
</html>