<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
  <title>면접 질문</title>
</head>
<!--/* 출처: https://www.bootdey.com/snippets/view/bs4-forum | https://mdbootstrap.com/docs/standard/extended/comments/#section-3 */-->
<body>
    <section>
        <link rel="stylesheet" th:href="@{/css/custom-page-list-container.css}" href="../css/custom-page-list-container.css">
        <div class="container custom-container-width">
            <div class="main-body p-0">
                <div class="inner-wrapper">
                    <!-- Inner main -->
                    <div class="inner-main">
                        <!-- Inner main header -->
                        <div class="inner-main-header">
                            <a th:href="@{/question/form}" class="btn btn-primary">질문 추가</a>
                            <select class="custom-select custom-select-sm w-auto mr-1">
                                <option selected="">Latest</option>
                                <option value="1">Popular</option>
                                <option value="3">Solved</option>
                                <option value="3">Unsolved</option>
                                <option value="3">No Replies Yet</option>
                            </select>
                            <span class="input-icon input-icon-sm ml-auto w-auto">
                                <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search forum" />
                            </span>
                            <p>
                                <span>검색된 결과 수 : </span><span th:text="${questionPage.totalElements}"></span>
                            </p>
                        </div>
                        <!-- /Inner main header -->

                        <!-- Inner main body -->

                        <!-- Forum List -->
                        <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                            <div class="card mb-2" th:each="question : ${questionPage.content}">
                                <div class="card">
                                    <div class="card-body">
                                        <div th:replace="~{fragments/card/question-info :: fragment-question-info(question=${question},enableLink=true)}">질문 정보</div>
                                    </div>
                                </div>
                            </div>

                            <div th:replace="~{fragments/paging/page-number-nav :: fragment-page-number-nav(
                                isFirst=${questionPage.first}, isLast=${questionPage.last},
                                currentPageNumber=${questionPage.number}, totalPages=${questionPage.totalPages}, pageUri='/question')}">페이징 컨트롤 네비게이션 공간</div>
                        </div>
                        <!-- /Forum List -->

                        <!-- /Inner main body -->
                    </div>
                    <!-- /Inner main -->
                </div>
            </div>
        </div>
    </section>
</body>
</html>