<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
  <title>면접 질문</title>
</head>
<!--/* 출처: https://www.bootdey.com/snippets/view/bs4-forum */-->
<body>
    <section>
        <div class="container">
            <div class="main-body p-0">
                <div class="inner-wrapper">
                    <!-- Inner main -->
                    <div class="inner-main">
                        <!-- Inner main header -->
                        <div class="inner-main-header">
                            <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#" data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                            <select class="custom-select custom-select-sm w-auto mr-1">
                                <option selected="">Latest</option>
                                <option value="1">Popular</option>
                                <option value="3">Solved</option>
                                <option value="3">Unsolved</option>
                                <option value="3">No Replies Yet</option>
                            </select>
                            <span class="input-icon input-icon-sm ml-auto w-auto">
                                <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search forum" />
                            </span>
                            <p>
                                <span>검색된 결과 수 : </span><span th:text="${questionPage.totalElements}"></span>
                            </p>
                        </div>
                        <!-- /Inner main header -->

                        <!-- Inner main body -->

                        <!-- Forum List -->
                        <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                            <div class="card mb-2" th:each="question : ${questionPage.content}">
                                <!--<a class="btn btn-secondary btn-sm" th:href="@{/skill/{skillId}(skillId=${skill.id})}" th:text="${skill.name}"></a>-->
                                <div class="card-body p-2 p-sm-3">
                                    <div class="media forum-item">
                                        <a href="#">
                                            <img th:src="@{/image/normal-user-thumbnail.png}" class="mr-3 rounded-circle" width="50" alt="User"/>
                                            <span th:text="${question.createdBy}">작성자</span>
                                        </a>
                                        <div class="media-body">
                                            <h6>
                                                <a href="#" class="text-body"> <span th:text="${question.category.department}">분야</span>-<span th:text="${question.category.field}">영역</span></a>
                                                <th:block th:each="tech : ${question.tech}">
                                                    <a href="#" class="text-body" th:text="${tech}">Redis(관련 기술)</a>
                                                </th:block>
                                                <span class="text-secondary font-weight-bold" th:text="${#temporals.format(question.createdAt, 'yyyy-MM-dd')}">생성일</span>
                                            </h6>
                                            <p class="text-secondary" th:text="${question.content}">질문 내용</p>
                                            <p class="text-muted"></p>
                                        </div>
                                        <div class="text-muted small text-center align-self-center">
                                            <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> <span th:text="${question.hits}">조회수</span></span>
                                            <span><i class="far fa-comment ml-2"></i> <span th:text="${question.commentCnt}">댓글수</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--                            <div th:replace="~{fragments/paging/page-number-nav :: fragment-page-number-nav(page=questionPage)}">페이징 컨트롤 네비게이션 공간</div>-->
                            <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                                <li class="page-item" th:class="${questionPage.first ? 'disabled' : ''}">
                                    <a class="page-link has-icon" th:if="${not questionPage.first}" th:href="@{/question(page=${questionPage.number - 1})}">
                                        <i class="material-icons">이전</i>
                                    </a>
                                    <span class="page-link has-icon" th:if="${questionPage.first}"><i class="material-icons">이전</i></span>
                                </li>

                                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(questionPage.number, questionPage.totalPages)}" th:class="${pageNumber == questionPage.number + 1} ? 'active' : ''">
                                    <a class="page-link" th:if="${pageNumber != questionPage.number + 1}" th:href="@{/question(page=${pageNumber})}" th:text="${pageNumber}"></a>
                                    <span class="page-link" th:if="${pageNumber == questionPage.number + 1}" th:text="${pageNumber}"></span>
                                </li>

                                <li class="page-item" th:class="${questionPage.last ? 'disabled' : ''}">
                                    <a class="page-link has-icon" th:if="${not questionPage.last}" th:href="@{/question(page=${questionPage.number + 1})}">
                                        <i class="material-icons">다음</i>
                                    </a>
                                    <span class="page-link has-icon" th:if="${questionPage.last}"><i class="material-icons">다음</i></span>
                                </li>
                            </ul>
                            <!--<ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                                <li class="page-item disabled">
                                    <span class="page-link has-icon"><i class="material-icons">이전</i></span>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item active"><span class="page-link">2</span></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item">
                                    <a class="page-link has-icon" href="javascript:void(0)"><i class="material-icons">다음</i></a>
                                </li>
                            </ul>-->
                        </div>
                        <!-- /Forum List -->

                        <!-- /Inner main body -->
                    </div>
                    <!-- /Inner main -->
                </div>
            </div>
        </div>
    </section>
</body>
</html>