<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
  <title th:text="|${#authentication.principal.username}님의 페이지|">사용자님 페이지</title>
</head>
<body>
    <section>
        <div class="inner-main-header my-3">
            <div class="ms-3 my-3">
                <h3 class="ps-3 py-3">경험 수정</h3>
            </div>
        </div>
        <form method="post" th:action="@{/users/{userId}/experience/{experienceId}/edit(userId=${userId}, experienceId=${experienceId})}">
            <div id="experienceForm">
                <div class="my-3 col">
                    <div for="intro" class="form-floating">
                        <textarea class="form-control" placeholder="여기에 적어주세요." th:field="${experienceEditForm.experience}" style="height: 200px"></textarea>
                        <label>자소서 or 이력서 내용</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary px-3 me-3">수정</button>
                <a th:href="@{/users/{userId}/experience(userId=${userId})}" class="btn btn-secondary px-3">취소</a>
            </div>
        </form>
    </section>
</body>
</html>