<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div class="row justify-content-md-center" th:fragment="fragment-row-table(reviewOverviewList, interviewOverviewList)">
    <!--<div th:replace="~{fragments/rowtable/row-table-component :: fragment-row-table-component(title='좋았던 질문')}">RowTable Component 공간</div>-->
    <div th:replace="~{fragments/overviewList/interview :: fragment-interview-overview-list(dataList=${interviewOverviewList})}">RowTable Component 공간</div>
    <div class="col-lg-2"></div>
    <div th:replace="~{fragments/overviewList/review :: fragment-review-overview-list(dataList=${reviewOverviewList})}">RowTable Component 공간</div>
  </div>
</html>