<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
  <title>모의 면접 설정</title>
</head>
<body>
    <section>
        <div style="width=400px;">
            <div class="d-flex flex-column my-3">
                <div class="ps-3">
                    <h4 class="ps-3 py-3 fw-normal">면접 설정</h4>
                </div>
                <div>
                    <form action="/interview" method="POST">
                        <div th:replace="~{fragments/form/job-category :: fragment-job-category(selectedCategoryId=${accountForm.categoryId},selectedPositionId=${accountForm.positionId},categoryList=${categoryList},positionList=${positionList})}">
                            분야, 직무 카테고리 선택 구역
                        </div>
                        <script th:src="@{/js/CategoryRelatedTech.js}" href="../js/CategoryRelatedTech.js"></script>
                        <div class="m-3"></div>

                        <div th:replace="~{fragments/form/interview-config :: fragment-interview-config(selectedMinutes=${configForm.durationMinutes},selectedType=${configForm.interviewType})}">
                            인터뷰 설정 부분
                        </div>
                        <div class="m-3"></div>

                        <div th:replace="~{fragments/form/tech :: fragment-tech(tech=${accountForm.tech})}">
                            관련기술 영역
                        </div>
                        <div class="m-3"></div>

                        <div class="d-flex justify-content-start align-items-center">
                            <div class="list-group" th:object="${accountForm}">
                                <label class="list-group-item" th:each="experience, stat : *{experienceList}">
                                    <input class="form-check-input me-1" type="checkbox"
                                           th:field="*{experienceList[__${stat.index}__].id}" th:value="${experience.id}" th:text="${experience.content}">
                                </label>
                            </div>
                        </div>
                        <div class="m-3"></div>

                        <input type="submit" class="btn btn-primary" value="면접 시작">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>