<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
    <title>말하기 테스트</title>
</head>
<body>
<section style="background-color: #eee;">
    <script th:src="@{/js/talk.js}" src="../../static/js/talk.js"></script>
    <div class="d-flex justify-content-center p-4">
        <div class="d-flex justify-content-center flex-fill" style="max-width:1000px;">
            <div class="col-md-6 col-lg-7 col-xl-8">
                <ul class="list-unstyled" id="talk-history">
                    <li class="d-flex justify-content-center mb-4 mt-4">
                        <div>
                            <button type="button" class="btn btn-success" id="speckBtn" onclick="startRecognition()">말하기</button>
                        </div>
                    </li>

                    <li class="mb-4">
                        <div class="card p-3">
                            <div class="form-outline w-100">
                                <textarea class="form-control" id="result" rows="5" placeholder="질문을 듣고 '말하기' 버튼을 눌러서 대답해주세요!" disabled></textarea>
                            </div>

                            <div class="py-1 border-0">
                                <div class="float-end mt-2 pt-1 pl-3">
                                    <button type="submit" class="btn btn-primary btn-sm" onclick="sendMessage()">응답완료</button>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>