<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
    <title>말하기 테스트</title>
</head>
<body>
<section style="background-color: #eee;" th:object="${messageHistory}">
<!--    <script th:src="@{/js/talk.js}" src="../../static/js/talk.js"></script>-->
    <div class="min-vh-100 d-flex justify-content-center p-4">
        <div class="d-flex justify-content-center flex-fill" style="min-width:0">
            <div class="row d-flex justify-content-center flex-fill" style="min-width:0">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <!--가장 위 패널-->
                        <div
                                class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                                style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                            <p class="mb-0 fw-bold">면접 진행 로그</p>
                        </div>

                        <div class="card-body" id="talk-card" style="overflow-y: scroll; min-height: 350px; max-height: 350px;">
                            <article id="talk-history">
                                <li th:each="message : *{messages}" class="d-flex mb-3"
                                    th:classappend="${#strings.equals(message.role, 'USER')} ? justify-content-end : justify-content-start">

                                    <!-- 지원자 대화 내역 -->
                                    <div th:if="${#strings.equals(message.role, 'USER')}" class="d-flex flex-row justify-content-end col-8" style="min-width:0px;">
                                        <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb; min-width:0px;">
                                            <input type="hidden" name="role" class="role" th:value="${message.role}">
                                            <p class="small mb-0 content" name="content" th:text="${message.content}">면접 지원자 텍스트</p>
                                        </div>
                                        <img src="../image/applicant.png" alt="avatar" style="width: 50px; height: 50px;"
                                             class="rounded-circle d-flex align-self-start shadow-1-strong">
                                    </div>

                                    <!-- 면접관 대화 내역 -->
                                    <div th:unless="${#strings.equals(message.role, 'USER')}" class="d-flex flex-row justify-content-start col-8" style="min-width:0px;">
                                        <img src="../image/interviewer.png" alt="면접관 사진" style="width: 50px; height: 50px;">
                                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2); min-width:0px;">
                                            <input type="hidden" name="role" class="role" th:value="${message.role}">
                                            <p class="small mb-0 content" name="content" th:text="${message.content}">면접관의 텍스트</p>
                                        </div>
                                    </div>
                                </li>
                            </article>
                        </div>
<!--                        <div class="form-outline">-->
<!--                            <textarea class="form-control" id="result" rows="3" placeholder="질문을 확인하고 대답해주세요!"></textarea>-->
<!--                        </div>-->
                        <!-- 사용자 응답창 -->
                        <div class="flex-fill">
                            <ul class="list-unstyled mb-0" id="talk">
                                <!-- INTERVIEWER, USER 등등 하드코딩 수정하기 -->
                                <!--                    <img th:src="@{/image/applicant.png}" alt="avatar"-->
                                <!--                         class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">-->
                                <li class="">
                                    <div class="p-3">
                                        <div class="form-outline w-100">
                                            <div class="toast align-items-center bg-danger" id="chattingErrorToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
                                                <div class="d-flex">
                                                    <div class="toast-body">
                                                        <span class="text-white" id="errorMessageField">잘못 입력한 필드</span>
                                                    </div>
                                                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                                </div>
                                            </div>
                                            <textarea class="form-control" id="result" rows="3" placeholder="질문을 듣고 답변해주세요! Ctrl+Enter로 메시지 전송 가능합니다."></textarea>
                                        </div>

                                        <div class="py-1 border-0">
                                            <div class="float-end mt-2 mb-3 pt-1 pl-3">
                                                <button type="button" class="btn btn-success btn-sm" id="speckBtn" onclick="startRecognition()">말하기</button>
                                                <button type="submit" class="btn btn-primary btn-sm sendBtn" onclick="sendMessage()">응답완료</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script th:src="@{/js/SpeackContent.js}" href="../js/SpeackContent.js"></script>
    <script th:inline="javascript">
        const interviewUriPrefix = "/api/interview/[[${interviewId}]]/conversation";

        const loadingTime = 1500;
        const sendBtn = $('.sendBtn');
        const errorMessageField = $('#errorMessageField');
        const contentMinLength = 3;
        let chattingErrorToast = new bootstrap.Toast(document.getElementById('chattingErrorToast'));

        let remainingTime = loadingTime;
        let decreaseInterval;

        // 응답을 최소 1.5초의 뒤에 보여주기 위한 함수
        function decreaseRemainingTime() {
            if(remainingTime <= 0){
                clearInterval(decreaseInterval);
                return;
            }

            remainingTime -= 100;
        }

        // 현재 내용을 토대로 응답을 다시 받음.
        function retryResponse() {
            removeLastChatting();
            sendRequest(interviewUriPrefix+"/changing-topic", null);
        }

        // 마지막 채팅 제거
        function removeLastChatting() {
            var lastChatting = $("#talk-history li:last");

            if (lastChatting.length > 0) {
                lastChatting.remove();
            }
        }

        // 재전송 버튼 지우기
        function removeRetryingBtn() {
            // retryBtn을 가지고 있는 Div 찾기
            const retryBtnDiv = $("#retryBtnDiv");

            // retryBtn이 존재하는 경우에만 실행
            if (retryBtnDiv.length > 0) {
                // 버튼 제거에 따라 버튼 부모의 너비를 10 -> 8로 변경
                var col10Div = retryBtnDiv.closest(".col-10");
                col10Div.removeClass("col-10").addClass("col-8");

                // retryBtn 제거
                retryBtnDiv.remove();
            }
        }


        // 서버에서 받는 Message 형식을 맞출 것.
        function createMessage(role, message) {
            return ({"role": role, "content": content});
        }

        // 응답완료 버튼 클릭시 동작 - sendBtn에 disabled 여부에 따라 함수 실행여부가 결정된다.
        function sendMessage() {
            if(sendBtn.prop("disabled"))
                return;

            const nowMsg = $('#result').val(); // 현재 사용자 작성 답변 가져오기.
            if(isInvalidChattingMessage(nowMsg)) {
                showChattingErrorMessage(contentMinLength + '자 이상 입력해주세요.');
                return;
            }

            $('#result').val(''); // 사용자 응답창 지워주기
            removeRetryingBtn(); // 다른 질문을 요청할 수 없도록 버튼 제거

            const newConversationItem = createUserMessage(nowMsg);
            $('#talk-history').append(newConversationItem); // 화면에 UserMessage 추가해주기

            const message = createMessage("USER", nowMsg); // TODO: USER를 타임리프로 변경
            sendRequest(interviewUriPrefix+"/response", message);
        }

        function isInvalidChattingMessage(message) {
            return message.length < 3;
        }

        function disableSendBtn() {
            sendBtn.prop("disabled", true);
        }

        function enableSendBtn() {
            sendBtn.prop("disabled", false);
        }

        // 서버로 요청보내기.
        function sendRequest(requestURL, message) {
            console.log(message);

            disableSendBtn(); // 전송버튼 잠시 비활성화
            displayWaitingPanel(); // 응답 대기 화면 출력.
            scroll(); // 채팅 스크롤 밑으로 내리기.
            decreaseInterval = setInterval(decreaseRemainingTime, 100);

            $.ajax({
                type: 'POST',
                url: requestURL,
                contentType: 'application/json',
                data: JSON.stringify(message),
                success: function(data) {
                    // console.log(data);
                    clearInterval(decreaseInterval);
                    setTimeout(function () {
                        // speak(data.content); // 응답 메시지를 음성으로 전달
                        removeWaitingPanel();
                        displayResponse(data.content);
                        scroll();
                        remainingTime = loadingTime;
                        enableSendBtn();
                    }, remainingTime);
                },
                error: function(error) {
                    console.log(error);
                    let errorMessage;
                    if(error.status == 400) {
                        showChattingErrorMessage(error.responseJSON.errorMessage);
                        enableSendBtn();
                        return;
                    }
                    if(error.status == 413) {
                        disableSendBtn();
                        removeWaitingPanel();
                        displayResponse("수고하셨습니다. 면접이 종료되었습니다.");
                        removeRetryingBtn();
                        return;
                    }

                    if(error.status == 401)
                        errorMessage = '로그인을 다시 진행한 후 시도해주세요.';
                    else
                        errorMessage = error.responseJSON.message;
                    $('#creationGroupError').text(errorMessage);
                    enableSendBtn();
                    console.log(errorMessage);
                }
            });
        }

        function showChattingErrorMessage(errorMessage) {
            // console.log(errorMessage);
            errorMessageField.text(errorMessage);
            chattingErrorToast.show();
        }

        function displayWaitingPanel(data) {
            const randomMessage = createRandomMessage();
            const waitingPanel = createWaitingPanel(randomMessage);
            $('#talk-history').append(waitingPanel);
        }

        function createRandomMessage() {
            const waitingMessages = [
                "머리를 굴리는중...",
                "잠시 커피를 마시는 중...",
                "질문을 고민 중...",
                "이력서를 확인하는 중...",
                "미소 짓는 중...",
                "잠시 물을 마시는 중...",
                "종이에 무언가를 체크 중...",
                "생각을 정리하는 중...",
                "미간을 찌푸리는 중..."
            ];

            return waitingMessages[Math.floor(Math.random() * waitingMessages.length)];
        }

        // 서버로 받은 응답 값을 화면에 면접관으로 표시
        function displayResponse(msg) {
            const newConversationItem = createGptMessage(msg);
            $('#talk-history').append(newConversationItem);
            scroll();
        }

        // waiting 패널 지우기
        function removeWaitingPanel() {
            $('#talk-history .temporary').remove();
        }

        function getCurrentTime() {
            var now = new Date();
            var hours = now.getHours().toString().padStart(2, '0');
            var minutes = now.getMinutes().toString().padStart(2, '0');
            return hours + ':' + minutes;
        }

        function createWaitingPanel(msg) {
        // 로딩 이미지 출처 - https://icons8.com/preloaders/
            return `
                    <li class="mb-3 d-flex justify-content-start temporary">
                        <div class="d-flex flex-row justify-content-start col-8" style="min-width:0px;">
                            <img src="../image/interviewer.png" alt="면접관 사진" style="width: 50px; height: 50px;">
                            <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2); min-width:0px;">
                                <img src="../image/loading.gif" alt="loading..." style="width: 40px; rgba(57, 192, 237,.2); ">
                                <p class="ps-2 mb-0 content" name="content">${msg}</p>
                            </div>
                        </div>
                    </li>`;
        }

        function createUserMessage(msg) {
            return `
                   <li class="mb-3 d-flex justify-content-end">
                        <div class="d-flex flex-row justify-content-end col-8" style="min-width:0px;">
                            <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb; min-width:0px;">
                                <input type="hidden" name="role" class="role" value="USER">
                                <p class="small mb-0 content" name="content">${msg}</p>
                            </div>
                            <img src="../image/applicant.png" alt="avatar"
                             class="rounded-circle d-flex align-self-start shadow-1-strong"
                             style="width: 50px; height: 50px;">
                        </div>
                   </li>`;
        }

        function createGptMessage(msg) {
            return `
                    <li class="mb-3 d-flex justify-content-start">
                        <div class="d-flex flex-row justify-content-start col-10" style="min-width:0px;">
                            <img src="../image/interviewer.png" alt="면접관 사진" style="width: 50px; height: 50px;">
                            <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2); min-width:0px;">
                                <input type="hidden" name="role" class="role" value="INTERVIEWER">
                                <p class="small mb-0 content" name="content">${msg}</p>
                            </div>
                            <div class="d-flex align-items-end col-2 ps-2" style="min-width:0px;" id="retryBtnDiv">
                                <button id="retryBtn" class="btn btn-primary btn-sm"><p class="small mb-0" onclick="retryResponse()">다른 질문</p></button>
                            </div>
                        </div>
                    </li>`;
        }

        $(document).ready(function () {
            sendRequest(interviewUriPrefix + "/init", null);
        });

        function scroll() {
            const talkHistoryArticle = $('#talk-card');
            talkHistoryArticle.scrollTop(talkHistoryArticle[0].scrollHeight);
        }


        // result TextArea에서 Ctrl+Enter 입력시 메시지를 보내는 기능
        const taResult = $("#result");
        taResult.on("keydown", function (event) {
            // Ctrl (또는 Command on Mac) 키와 Enter 키를 동시에 눌렀을 때
            if ((event.ctrlKey || event.metaKey) && event.key === "Enter") {
                sendMessage();
            }
        });
    </script>
</section>
</body>
</html>