<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
    <title>말하기 테스트</title>
</head>
<body>
<section style="background-color: #eee;" th:object="${messageHistory}">
<!--    <script th:src="@{/js/talk.js}" src="../../static/js/talk.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/loading.css}" href="../css/loading.css">

    <div class="min-vh-100 d-flex justify-content-center p-4">
        <div class="d-flex justify-content-center flex-fill" style="min-width:0">
            <div class="row d-flex justify-content-center flex-fill" style="min-width:0">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <!--가장 위 패널-->
                        <div
                                class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                                style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                            <p class="mb-0 fw-bold">면접 진행 로그</p>
                        </div>

                        <div class="card-body" id="talk-card" style="overflow-y: scroll; min-height: 350px; max-height: 350px;">
                            <article id="talk-history">
                                <th:block th:unless="${#lists.isEmpty(messageHistory)}">
                                    <th:block th:each="message, messageStat : ${messageHistory.content}" class="d-flex mb-3">
                                        <li th:object="${message.question}" th:if="${not #strings.isEmpty(message.question.content)}"
                                            class="d-flex mb-3 justify-content-start">
                                            <div class="d-flex flex-row justify-content-start col-8" style="min-width:0px;">
                                                <img src="../image/interviewer.png" alt="면접관 사진" style="width: 50px; height: 50px;">
                                                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2); min-width:0px;">
                                                    <input type="hidden" name="role" class="role" th:value="*{role}">
                                                    <p class="small mb-0 content" name="content" th:text="*{content}">면접관의 텍스트</p>
                                                </div>
                                                <div th:if="${messageStat.last}" class="d-flex align-items-end col-2 ps-2" style="min-width:0px;" id="retryBtnDiv">
                                                    <button id="retryBtn" class="btn btn-primary btn-sm" onclick="retryResponse()">
                                                        <p class="small mb-0">다른 질문</p>
                                                    </button>
                                                </div>
                                                <div class="d-flex align-items-end col-2" style="min-width:0px;" id="reviewBtnDiv">
                                                    <button id="reviewBtn" class="btn btn-link btn-sm">
                                                        <img style="height: 2vh" th:onclick="|review('*{id}')|" th:src="@{/image/review.png}" alt="다시보기">
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li th:object="${message.answer}" th:if="${not #strings.isEmpty(message.answer.content)}"
                                            class="d-flex mb-3 justify-content-end">
                                            <div class="d-flex flex-row justify-content-end col-8" style="min-width:0px;">
                                                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb; min-width:0px;">
                                                    <input type="hidden" name="role" class="role" th:value="*{role}">
                                                    <p class="small mb-0 content" name="content" th:text="*{content}">면접 지원자 텍스트</p>
                                                </div>
                                                <img src="../image/applicant.png" alt="avatar" style="width: 50px; height: 50px;"
                                                     class="rounded-circle d-flex align-self-start shadow-1-strong">
                                            </div>
                                        </li>
                                    </th:block>
                                </th:block>
                            </article>
                        </div>
<!--                        <div class="form-outline">-->
<!--                            <textarea class="form-control" id="result" rows="3" placeholder="질문을 확인하고 대답해주세요!"></textarea>-->
<!--                        </div>-->
                        <!-- 사용자 응답창 -->
                        <div class="flex-fill">
                            <ul class="list-unstyled mb-0" id="talk">
                                <!-- INTERVIEWER, USER 등등 하드코딩 수정하기 -->
                                <!--                    <img th:src="@{/image/applicant.png}" alt="avatar"-->
                                <!--                         class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">-->
                                <li class="">
                                    <div class="p-3">
                                        <div class="form-outline w-100">
                                            <div class="toast align-items-center bg-danger" id="chattingErrorToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
                                                <div class="d-flex">
                                                    <div class="toast-body">
                                                        <span class="text-white" id="errorMessageField">잘못 입력한 필드</span>
                                                    </div>
                                                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                                </div>
                                            </div>
                                            <textarea class="form-control" id="result" rows="3" placeholder="질문을 듣고 답변해주세요! Ctrl+Enter로 메시지 전송 가능합니다."></textarea>
                                        </div>

                                        <div class="py-1 border-0">
                                            <div class="float-end mt-2 mb-3 pt-1 pl-3">
                                                <button type="button" class="btn btn-success btn-sm" id="speckBtn" onclick="startRecognition()">말하기</button>
                                                <button type="submit" class="btn btn-primary btn-sm sendBtn" onclick="sendMessage()">응답완료</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <input th:if="${lastConversationPairId != null and lastConversationPairId != 0}" type="hidden" id="currentConversationId" th:value="${lastConversationPairId}">
            <input th:unless="${lastConversationPairId != null and lastConversationPairId != 0}" type="hidden" id="currentConversationId" value="-1">


        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/SpeackContent.js}" href="../js/SpeackContent.js"></script>
    <script th:src="@{/js/InterviewSocket.js}" href="../../js/InterviewSocket.js"></script>
    <script th:src="@{/js/InterviewStarting.js}" href="../../js/InterviewStarting.js"></script>
    <script th:src="@{/js/review.js}" href="../../js/review.js"></script>
    <script th:src="@{/js/ConversationPair.js}" href="../../js/ConversationPair.js"></script>
</section>
</body>
</html>