<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
    <title>말하기 테스트</title>
</head>
<body>
<section th:object="${messageHistory}">
    <link rel="stylesheet" th:href="@{/css/loading.css}" href="../css/loading.css">

    <div class="d-flex justify-content-center p-4">
        <div class="d-flex justify-content-center flex-fill" style="min-width:0">
            <div class="row d-flex justify-content-center flex-fill" style="min-width:0">
                <div class=>
                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <!--가장 위 패널-->
                        <div th:replace="~{fragments/interview/interview-header :: fragment-interview-header(interview=${interview})}">Interview 헤더 표시 공간</div>

                        <div th:replace="~{fragments/interview/interview-history :: fragment-interview-history(
                            messageHistory=${messageHistory}, recommendationQuestions=${recommendationQuestions})}">Interview Histroy 공간</div>
<!--                        <div class="form-outline">-->
<!--                            <textarea class="form-control" id="result" rows="3" placeholder="질문을 확인하고 대답해주세요!"></textarea>-->
<!--                        </div>-->
                        <!-- 사용자 응답창 -->
                        <div th:replace="~{fragments/interview/interview-controller :: fragment-interview-controller}">Interview Controller 공간</div>
                    </div>
                </div>
            </div>

            <th:block th:object="${lastConversationPair}">
                <input type="hidden" id="currentConversationId" th:value="*{id}">
                <input type="hidden" id="currentConversationState" th:value="*{status}">
            </th:block>

        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/review.js}" href="../../js/review.js"></script>
    <script th:src="@{/js/SpeakContent.js}" href="../js/SpeakContent.js"></script>
    <script th:src="@{/js/interview/CurrentConversation.js}" href="../../js/interview/CurrentConversation.js"></script>
    <script th:src="@{/js/interview/InterviewSocket.js}" href="../../js/interview/InterviewSocket.js"></script>
    <script th:src="@{/js/interview/InterviewController.js}" href="../../js/interview/InterviewController.js"></script>
    <script th:src="@{/js/interview/InterviewConversationRestorer.js}" href="../../js/interview/InterviewConversationRestorer.js"></script>
    <script th:src="@{/js/interview/component/AnswerComponent.js}" href="../../js/interview/component/AnswerComponent.js"></script>
    <script th:src="@{/js/interview/component/QuestionComponent.js}" href="../../js/interview/component/QuestionComponent.js"></script>
    <script th:src="@{/js/interview/component/UserControllerComponent.js}" href="../../js/interview/component/UserControllerComponent.js"></script>
    <script th:src="@{/js/interview/component/WaitingComponent.js}" href="../../js/interview/component/WaitingComponent.js"></script>
    <script th:src="@{/js/interview/component/RecommendationComponent.js}" href="../../js/interview/component/RecommendationComponent.js"></script>
</section>
</body>
</html>