<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div class="card-body" id="talk-card" style="overflow-y: scroll; min-height: 350px; max-height: 350px;" th:fragment="fragment-interview-history(messageHistory, recommendationQuestions)">
    <article id="talk-history">
      <th:block th:unless="${#lists.isEmpty(messageHistory)}">
        <th:block th:each="message, messageStat : ${messageHistory}" class="d-flex mb-3">
          <li th:replace="~{fragments/interview/history/question
            :: fragment-question(conversationStatus=${message.pair.status}, question=${message.question}, messageStat=${messageStat})}">
            면접관 질문 정보
          </li>
          <li th:replace="~{fragments/interview/history/answer
            :: fragment-answer(conversationStatus=${message.pair.status},answer=${message.answer})}">
            면접 지원자 대답정보
          </li>
        </th:block>
      </th:block>
      <li th:unless="${recommendationQuestions == null or #lists.isEmpty(recommendationQuestions)}"
          class="d-flex mb-3 justify-content-start recommended-questions">
        <div th:replace="~{fragments/interview/interview-recommended :: fragment-interview-recommended(
          questionList=${recommendationQuestions})}">테스트</div>
      </li>
    </article>
  </div>
</html>