<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* 출처: https://www.bootdey.com/snippets/view/bs4-forum | https://mdbootstrap.com/docs/standard/extended/comments/#section-3 */-->
<div th:fragment="fragment-question-info(question, enableLink)">
    <!--<a class="btn btn-secondary btn-sm" th:href="@{/skill/{skillId}(skillId=${skill.id})}" th:text="${skill.username}"></a>-->
    <div class="d-flex flex-start align-items-center" >
        <img th:src="@{/image/normal-user-thumbnail.png}" class="mr-3 rounded-circle" width="50" alt="User"/>
        <div class="ms-1">
            <h6 class="fw-bold text-primary mb-1">
                <span th:text="${question.createdBy}">작성자</span>
            </h6>
            <p class="text-muted small mb-0" th:object="${question.category}">
                <th:block th:if="*{not #strings.isEmpty(category)}">
                    <a th:href="@{/question/category/{categoryName}(categoryName=*{category})}" class="text-body"> <span th:text="*{category}">분야</span></a>
                    <th:block th:if="*{not #strings.isEmpty(position)}">
                        &nbsp;-&nbsp;<a th:href="@{/question/position/{positionName}(positionName=*{position})}" class="text-body"><span th:text="*{position}">영역</span></a>
                    </th:block>
                </th:block>
            </p>
        </div>
        <div class="ms-3">
            <th:block th:each="tech : ${question.tech}">
                <a href="#" class="btn btn-sm btn-secondary" th:text="${tech}">Redis(관련 기술)</a>
            </th:block>
        </div>
        <div class="d-flex justify-content-end flex-fill">
            <div th:if="${not enableLink}" class="d-flex">
                <a class="btn btn-link" th:href="@{/question/{questionId}/edit(questionId=${question.id})}"><i class="fas fa-solid fa-pen"></i></a>
                <form method="post" th:action="@{/question/{questionId}/delete(questionId=${question.id})}">
                    <button type="submit" class="btn btn-link"><i class="fas fa-solid fa-trash" style="color: #C81121;"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class="mt-3 mb-4 pb-2">
        <a class="btn btn-light btn-lg btn-block w-100" th:if="${enableLink}" th:href="@{/question/{questionId}(questionId=${question.id})}" th:text="${question.content}">질문 내용</a>
        <span class="btn-lg w-100 fs-5" th:unless="${enableLink}" th:text="${question.content}"></span>
    </div>

    <div class="small d-flex justify-content-end">

    </div>

    <div class="small d-flex justify-content-between">
        <div class="small d-flex justify-content-start">
            <div>
                <a href="#">
                    <i class="fas fa-thumbs-up me-1" th:text="| ${question.like} Likes |"></i>
                </a>

                <!--<span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> <span th:text="${question.like}">(미구현)조회수</span></span>-->
                <!--<span><i class="far fa-comment ml-2"></i> <span th:text="${question.commentCnt}">댓글수</span></span>-->
            </div>
        </div>
        <div>
            <div class="text-muted small mb-0"
                 th:text="${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm ')}">
                생성일
            </div>
        </div>
    </div>
</div>
