<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header class="navbar-container border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div>
          <ul class="nav align-items-center mb-md-0">
            <li class="nav-link">
              <a href="/" class="nav-link font-weight-bold text-decoration-none px-2">Gpterview</a>
              <div class="underline"></div>
            </li>
            <li class="nav-link" th:classappend="${headerActiveTap == 'interview'} ? active-link : text-muted">
              <a href="/interview/form" class="nav-link px-2 text-decoration-none">모의면접</a>
              <div class="underline"></div>
            </li>
            <li class="nav-link" th:classappend="${headerActiveTap == 'history'} ? active-link : text-muted">
              <a href="/history" class="nav-link px-2 text-decoration-none">면접기록</a>
              <div class="underline"></div>
            </li>
            <li class="nav-link" th:classappend="${headerActiveTap == 'interview-question'} ? active-link : text-muted">
              <a href="/question" class="nav-link px-2 text-decoration-none">질문목록</a>
              <div class="underline"></div>
            </li>
          </ul>
        </div>

        <div>
          <!-- https://mdbootstrap.com/docs/standard/extended/navbar-with-icons/# -->
          <ul class="text-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                <i class="fas fa-user mx-1"></i> 프로필
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <span sec:authorize="isAnonymous()"><a class="dropdown-item" href="/auth/login">로그인</a></span>
                <span sec:authorize="isAnonymous()"><a class="dropdown-item" href="/auth/sign-up">회원가입</a></span>
                <span sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{/auth/{username}(username=${#authentication.principal.username})}">내 정보</a></span>
                <span sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/logout">로그아웃</a></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</html>