<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-main-banner" class="p-md-5 col-6 text-center">
    <th:block th:if="${activeInterview.title != null}">
        <h2 class="display-7 fw-normal">Gpterview 진행중</h2>
        <div class="col-md-5 mx-auto mt-5">
            <a class="btn btn-primary btn-lg" th:href="@{/interview/{interviewId}(interviewId=${activeInterview.interviewId})}">계속</a>
        </div>
    </th:block>
    <th:block th:unless="${activeInterview.title != null}">
        <h2 class="display-7 fw-normal">GPT 모의면접</h2>
        <div class="mx-auto mt-5">
            <a class="btn btn-primary" href="/interview/candidate/form">시작</a>
        </div>
    </th:block>
</div>
</html>