<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
  <title>로그인</title>
</head>
<body>
  <section>
    <div class="d-flex justify-content-center my-5">
      <div>
        <h2 class="mb-4">로그인</h2>

        <form action="/login" method="POST" style="width: 400px" th:object="${account}">
          <div th:replace="~{fragments/form/account :: fragment-account}">로그인 계정 정보 컴포넌트</div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-2 col-12">로그인</button>
        </form>

        <hr>

        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <a class="link-offset-2 link-underline link-underline-opacity-10" href="/sign-up">회원가입</a>
          </div>

          <div class="col d-flex justify-content-center">
            <a class="link-offset-2 link-underline link-underline-opacity-10" href="#"><i class="fab fa-google"></i> 계정가입</a>
          </div>
        </div>

    </div>
  </section>
</body>
</html>