<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
  <title>로그인</title>
</head>
<body>
  <section>
    <div class="d-flex justify-content-center my-5">
      <div style="width: 300px">
        <h2 class="mb-5">로그인</h2>
        <a class="btn btn-primary btn-block mb-2 col-12" href="/oauth2/authorization/google">
          <i class="fab fa-google"></i> 계정으로 시작
        </a>
      </div>
    </div>
  </section>
</body>
</html>