<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">

<head>
  <title>회원가입</title>
</head>
<body>
<section>
  <div class="d-flex justify-content-center my-5">
    <div>
      <h2 class="mb-4">회원가입</h2>
      <form style="width: 400px" method="post" action="/sign-up" th:object="${account}">
        <div th:replace="~{fragments/form/job-category :: fragment-job-category(selectedCategoryId=${null}, selectedPositionId=${null},categoryList=${categoryList},positionList=${positionList})}">
          카테고리 선택
        </div>
        <div th:replace="~{fragments/form/account :: fragment-account}">로그인 계정 정보 컴포넌트</div>


        <!--<div class="mb-5 col">
          <div for="company" class="form-floating">
            <textarea class="form-control" placeholder="여기에 적어주세요." id="company" style="height: 100px"></textarea>
            <label>지원 회사 정보 (200자 이하) - 생략가능</label>
          </div>
          <div class="mt-2">
            <a class="link-dark mx-1" href="#">회사 예시보기</a>
          </div>
        </div>-->


        <div class="my-3 accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                추가정보 : 나의 기술 (for 모의면접)
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse">
              <div class="accordion-body">
                <div class="mb-3"th:replace="~{fragments/form/tech :: fragment-tech(tech=*{tech})}">관련기술 영역</div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                추가정보 : 경험 (for 모의면접)
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                <div th:replace="~{fragments/form/experience-bulk :: fragment-experience-bulk}"></div>
              </div>
            </div>
          </div>
        </div>

        <input type="submit" class="btn btn-primary btn-block mb-4 col-12" value="회원가입">
      </form>
    </div>
  </div>
</section>
</body>
</html>