<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="fragment-job-category-select(loadField,departmentList)">
    <script th:src="@{/js/jobCategoryForm.js}" href="../js/jobCategoryForm.js"></script>
    <input th:if="${loadField != null}" type="hidden" id="loadField" th:value="${loadField}">
    <div class="mb-3 row">
      <label class="col-1 col-form-label">지원 분야</label>

      <div class="col-2">
        <select name="department" id="department" class="form-select" aria-label="Select Department" required>
          <option  disabled hidden selected>선택해주세요</option>
          <option th:each="department : ${departmentList}"
                  th:value="${department.id}" th:text="${department.name}">IT (프로그래밍)</option>
          <option disabled>다른 분야 추가 예정</option>
        </select>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-dark" onclick="showDepartmentToast()">분야 추가</button>
      </div>
    </div>

    <!--마음에 안듦. 다른 위치로 옮겨야함-->
    <div class="row ms-5 mb-3">
      <div class="col-3 toast align-items-center mb-3" id="departmentOptionToast" role="polite" aria-live="assertive" aria-atomic="true" data-bs-delay="15000">
        <div class="d-flex" style="min-width:0px">
          <div class="toast-body">
            <div class="row align-items-center">
              <div class="col-9">
                <input type="text" class="form-control" id="customDepartment" placeholder="추가할 분야"/>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-sm btn-primary" onclick="addDepartment()">추가</button>
              </div>
            </div>
          </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="field"  class="col-sm-1 col-form-label">지원 직군</label>
      <div class="col-sm-2">
        <select name="field" id="field" class="form-select" aria-label="Select Field" required>
          <option disabled hidden selected>분야를 선택해주세요.</option>
        </select>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-dark" onclick="showFieldToast()">직군 추가</button>
      </div>
    </div>

    <div class="row ms-5 mb-3">
      <div class="col-3 toast align-items-center mb-3" id="fieldOptionToast" role="polite" aria-live="assertive" aria-atomic="true" data-bs-delay="15000">
        <div class="d-flex" style="min-width:0px">
          <div class="toast-body">
            <div class="row align-items-center">
              <div class="col-9">
                <input type="text" class="form-control" id="customField" placeholder="추가할 직군"/>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-sm btn-primary" onclick="addField()">추가</button>
              </div>
            </div>
          </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <div class="mb-2"></div>
  </div>
</html>