<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base-layout :: base-layout (~{::title},~{::link},~{::section})}">
<head>
  <title>Gpterview</title>
</head>
<body>
  <section>
      <div class="mt-lg-3"></div>
      <div class="p-3 p-md-5">
          <h2 class="text-center display-5 fw-normal">면접 질문 검색</h2>
      </div>
      <div th:replace="~{fragments/form/search/question-search :: fragment-question-search(base='/question',searchCond=${questionSearchCond})}">질문 검색 폼</div>
      <br>
      <div class="container my-5">
          <!--    <h1>Welcome to My Website</h1>-->
          <!--    <p>This is the home page.</p>-->
          <div th:replace="~{fragments/rowtable/row-table :: fragment-row-table(interviewOverviewList=${interviewOverviewList},reviewOverviewList=${reviewOverviewList})}" class="mr-5">RowTable 공간</div>
      </div>
      <br>
  </section>
</body>
</html>