<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container col-lg-5" th:fragment="fragment-review-overview-list(dataList)">
    <link th:href="@{/css/overview-list.css}" href="../css/overview-list.css" rel="stylesheet">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">
                <div class="card-header align-items-center">
                    <h5 class="mb-0">면접 기록</h5>
                    <!--<p class="mb-0 small text-muted">1 Pending</p>-->
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                        <tr>
                            <th>리뷰 ID</th>
                            <th>내용</th>
                            <th>메모 수</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!--TODO: 클릭시 이동 처리할 것-->
                            <tr class="align-middle" th:each="data: ${dataList}" onclick="console.log('helloWorld!')" style="cursor: pointer;">
                                <td class="small" th:text="${data.id}">리뷰 ID</td>
                                <td class="small" th:text="${data.content}">리뷰 내용</td>
                                <td class="small" th:text="${data.memoCount}">나의 메모 수</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-end">
                    <a href="#!" class="btn btn-gray">목록으로</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>